/* Making the text stick to the screen, pop out from the background and put a white background behind it. */

body {
  	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  	background-size: 400% 400%;
  	animation: gradient 15s ease infinite;
  	height: 100vh;
  }

  @keyframes gradient {
  	0% {
  		background-position: 0% 50%;
  	}
  	50% {
  		background-position: 100% 50%;
  	}
  	100% {
  		background-position: 0% 50%;
  	}
  }
}

.minddump {
  font-size: 25px;
}


input[type=text] {
  width: 50%;
  font-size: 2.5rem;
  background-color: #fff;
}


#ten-countdown {
    color: #000000;
    font-family: Verdana, sans-serif, Arial;
    font-size: 40px;
    font-weight: bold;
    text-decoration: none;
}


.balloonimg {
  padding-top: 20px;
  width: 10%;
}

.img {
  padding-top: 20px;
  width: 10%;
}

.balloon {
    margin: 10px auto;
    position: relative;
    transform-origin: 50% 300%;
    width: 16rem;
    animation: anim 5s ease-in-out 1s infinite alternate;
}

.ball {
    margin-top: 30%;
    height: 20rem;
    width: 100%;
    background: rgba(0,50, 150, .8);
    border-radius: 80%;
    position: relative;
    overflow: hidden;

    border: 1px solid #555;
    box-shadow: 2px 2px 5ox #aaa;

    font-size: 2rem;
    vertical-align: sub;
    color: white;
}

/* .ball:hover {
  margin-top: 30%;
  height: 20rem;
  width: 100%;
  -ms.transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
  font-size: 2rem;
} */

.ball:before {
    content: "";
    height: 20rem;
    width: 16rem;
    background: rgba(0,50, 150, .3);
    border-radius: 80%;
    display: inline-block;
    position: absolute;
    top: -1rem;
    left: -1rem;
}

.stick {
    content: "";
    width: .1rem;
    height: 100%;
    background: rgba(50,50,50, .8);
    display: inline-block;
    position: absolute;
    top: 20rem;
    left: 8rem;
    overflow: visible;
}

@keyframes anim {
    25% {
        transform: rotate(-2deg);
    }
    75% {
        transform: rotate(2deg);
    }
}

body {
  background-color: #333;
  font-family: 'Luckiest Guy', cursive;
  font-size: 35px;
}

path {
  fill: transparent;
}

text {
  fill: #FF9800;
}
